.box {
    height: 700px;
    width: 700px;
    padding: 20px;
    right: 0;

}

.card {
    background-color: grey;
    height: 250px;
    width: 250px;
    position: absolute;
}

.pic {
    height: 180px;
    width: 100%;
    padding: 0 10px;
}
.specify {
    background-color: white;
    display: flex;
    text-align:justify;
    padding: 5px;
    height: 50px;
    position: relative;
}

