.header {
    display: flex;
    position: sticky;
    width: 100%;
    height: 70px;
    top: 0;
    background-color: grey;
    align-items: center;
}

.products {
    align-items: right;
}