.Searchbar {
 display:flex;   
 padding: 20px ;
 align-items: center;
 margin-left: 700px;
 
}

.Search {
    width: 250px;
    margin-top: 0;
    
}

.icon {
    background-color: grey;
    margin-top: 0;
    margin-left: 10px;

}